/ExIncremental/nbproject/private/
/ExIncremental/build/
/exFixacao2/nbproject/private/
/exFixacao2/build/
/exFixacao3/nbproject/private/
/Prova1/nbproject/private/
/Prova1/build/
/AtvDetran/nbproject/private/
/AtvDetran/build/
/oldProva1/nbproject/private/
/ProjetoRedes/nbproject/private/
/ProjetoRedes/build/
/Servidor/nbproject/private/
/Servidor/build/
/Cliente/nbproject/private/
/Cliente/build/